body {
  color: rgba(116, 157, 160, 1);
  background-image: url("http://revelwallpapers.net/d/756D78797059764879724B586B356952716D3573734E6A653238696A63773D3D/rain-road.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.container {
  background-color: rgba(157, 219, 215, 0.85);
  border-radius: 15px;
  max-width: 110vh;
  max-width: 700px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Century Gothic, sans-serif;
  font-weight: bold;
  font-size: 50px;
}

button:focus {
  background-color: rgba(245, 219, 215, 0.65);
}

#autocomplete {
  cursor: pointer;
}

#title {
  font-family: Verdana, sans-serif;
  text-align: center;
}
