<div class="container">
  <input type="text" id="searchInput" placeholder="Enter City name.." /><button id="new" style="display:none">Clear</button>
  <div id="autocomplete" class="row"></div>
</div>
