<div class="container">
  <div class="header">
    <p id="title">My Contacts</p>
  </div>
  <div class="input-group" id="search-box">
    <input type="text" id="search-field" class="form-control" placeholder="Search contacts">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="searchContactsButton">Search</button>
    </span>
  </div>
  <br>
  <div id="results">
    <table cellpadding="1" cellspacing="1" id="displayContacts">


    </table>
  </div>
</div>
